<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>AdminLogin</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>

<body style="background-color: #e6fff2">
<div class="container">
			<div class="row">
				<div class="col-sm-4"><br>

	
		<h1 align="center">Admin_login</h1>
	
	<form th:action="@{/getlogin}" method="post" name="myForm" th:onsubmit="return validation()" th:object=${user}>


		
					<div class="form-group">
						<label for="email"> EnterEmail</label> <input type="text"
							class="form-control" id="email" name="username"
							placeholder="Enter email" autofocus="autofocus">
							<span id="erroremail"></span>
					</div>

					<div class="form-group">
						<label for="password">Password</label><input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter password" /><br>
							<input type="checkbox" onclick="myFunction()">Show Password
							<span id="errorpsw"></span>
					</div>


					<div class="form-group">
						<button type="submit" class="btn btn-success">Login</button>
						<a href="#" th:href="@{/hos/hit}" class="btn btn-success">Back</a>
					</div>

				

	</form>
	</div>
	<div class="container"><br>
					<img src="https://cdn.pixabay.com/photo/2018/07/12/21/32/subscribe-3534409__480.jpg">
					</div>
			</div>
	<script src="/js/adminregister.js"></script>	</div>
</body>
</html>